<form action="/fetch" method="post">
  <label>uid: <input type="text" name="uid" required /></label>
  <label>pub0: <input type="text" name="pub0" required /></label>
  <label>page: <input type="text" name="page" required /></label><br />
  <input type="submit" value="Request!" />
</form>
