<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SponsorPay</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <a href='/'><h1>SponsorPay Requester</h1></a>
      <%= yield %>
      <footer class="footer">
        <span>Developed by <a href='http://bernardeli.com' target='_blank'>Ricardo Bernardeli</a></span>
      </footer>
    </div>
  </body>
</html>

