<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SponsorPay</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <h1>SponsorPay Requester</h1>
      <%= yield %>
    </div>
  </body>
</html>

